<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduExamine"
        tools:targetApi="31">
        <activity
            android:name=".UpdateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".NAT"
            android:exported="false" />
        <activity
            android:name=".MSQ"
            android:exported="false" />
        <activity
            android:name=".MCQ"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteAccountAdmin"
            android:exported="false" />
        <activity
            android:name=".UpdatePassAdmin"
            android:exported="false" />
        <activity
            android:name=".DeleteAccountStudent"
            android:exported="false" />
        <activity
            android:name=".UpdatePassStudent"
            android:exported="false" />
        <activity
            android:name=".AccountSettingStudent"
            android:exported="false" />
        <activity
            android:name=".SocialAdmin"
            android:exported="false" />
        <activity
            android:name=".AccountSettingAdmin"
            android:exported="false" />
        <activity
            android:name=".PersonalInfosAdmin"
            android:exported="false" />
        <activity
            android:name=".ProfessionalInfoAdmin"
            android:exported="false" />
        <activity
            android:name=".BasicInfosAdmin"
            android:exported="false" />
        <activity
            android:name=".SocialStudents"
            android:exported="false" />
        <activity
            android:name=".AcademicInfoStudent"
            android:exported="false" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <activity
            android:name=".BasicInfoStudent"
            android:exported="false" />
        <activity
            android:name=".EducationalDetails"
            android:exported="false" />
        <activity
            android:name=".FacultySignUp"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StudentHome"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".adminHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity android:name=".ExamHistoryActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>